<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!--        <Property name="pattern">%d{HH:mm:ss.SSS} [%level] %logger{36} - %msg%n</Property>-->
<!--        <Property name="pattern">%date{HH:mm:ss.SSS} [%level] %logger{36} @ %method() - %msg%n</Property>-->
        <Property name="pattern">%date{HH:mm:ss.SSS} [%level] %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
<!--        <File name="File" fileName="test-outcome/test.log" append="false">-->
        <File name="File" fileName="target/logs/test.log" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <!--            <AppenderRef ref="Console" level="info"/>-->
            <AppenderRef ref="File" level="trace"/>
        </Root>
    </Loggers>

</Configuration>